<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <%- include('shared-css') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9CM5H5K9JW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-9CM5H5K9JW');
    </script>
</head>
<body class="bg">
    <%- include('shared-header') %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="chart-container">
                </div>
            </div>
            <div class="col-md-4">
                <div id="reminder-container" class="reminder-container"></div>
            </div>
        </div>
    </div>

    <%- include('partial/add-reminder-modal') %>
    <%- include('partial/edit-reminder-modal') %>
    <%- include('partial/speech-to-text-modal') %>

    <%- include('shared-js') %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script type="text/javascript" src="/javascripts/pie-chart.js"></script>
    <script type="text/javascript" src="/javascripts/speech-to-text.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard.js"></script>
</body>
</html>